
        <div class="container">
           
        </div>
        <header>
             <nav>

            <img src="../images/favicon.png">

                 <ul>
                    <nav class="row">
                
                        <ul>
                            <li><a href='/'> Home</a></li>
                  
                        <% if (user) { %>
                            <li><a href="/users/<%=user._id%>">User Profile</a></li>
        
                          <li><a href="/logout"><i class="material-icons left"></i>Log Out</a>
                            <% } else { %>
                                <li><a href="/auth/google">Login with Google</a> </li>
                                <% } %>
                    </nav>
                 </ul>
             </nav>
         </header>