
        <div class="container">
            <nav class="row">
                <img src="/images/favicon.png" alt="Logo">
                <ul>
                    <li>Nav</li>
                    <li>Nav</li>
                    <li>Nav</li>
                </ul>
                 <!-- new html below -->
                 <% if (user) { %>
                    <a href="/logout"><i class="material-icons left"></i>Log Out</a>
                    <% } else { %>
                        <a href="/auth/google">Login with Google</a>
                        <% } %>
            </nav>
        </div>
