<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/skeleton.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <script src="" async defer></script>
      
            <h1>new product page</h1>

            <div class="container">
                <div class="row">
                    <div class="prodImg eight columns">
                    </div>
                    <div class="prodDetails four columns">
                        <form id="new-form" action="/" method="POST">
                            <label for="title">Title</label>
                            <input type="text" name='title'>
                            <!-- <label for="category">Category</label>
                            <select name ='category'><br> -->
                            <label for="shortdes">Location</label>
                            <input type="text" name='shortdes'>
                            <label for="longdes">Long Description</label>
                            <input type="text" name='longdes'>
                            <button>Submit</button>
                            <button>Cancel</button>
                        </form> 
                    </div>
                </div>
            </div>



    </body>
</html>